<%
title 'Galerias - Alterando Galeria'
breadcrumbs([
  {:text => 'Galerias', :url => admin_galleries_path},
  {:text => 'Alterando galeria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando galeria</h3></header>
  <%= render 'form' %>
</article>

<article class="module width_full">
  <header>
    <h3 class="tabs_involved">Imagens da galeria</h3>
    <ul class="tabs">
      <li class="active"><a href="#tab1">Imagens</a></li>
      <li><a href="#tab2">Comentários</a></li>
    </ul>
  </header>
  
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <%= render 'form_gallery_images' %>
    </div>
    <div id="tab2" class="tab_content">
      <%= render 'form_gallery_image_comments' %>
    </div>
  </div>
</article>