<%
title 'Galerias - Nova Galeria'
breadcrumbs([
  {:text => 'Galerias', :url => admin_galleries_path},
  {:text => 'Nova galeria'},
])
%>
<article class="module width_full">
  <header><h3>Nova galeria</h3></header>
  <%= render 'form' %>
</article>