<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @admin_gallery.event %>
</p>

<p>
  <b>Place:</b>
  <%= @admin_gallery.place %>
</p>

<p>
  <b>Gallery category:</b>
  <%= @admin_gallery.gallery_category %>
</p>

<p>
  <b>Type gallery:</b>
  <%= @admin_gallery.type_gallery %>
</p>

<p>
  <b>Photographe:</b>
  <%= @admin_gallery.photographe %>
</p>

<p>
  <b>Gallery image:</b>
  <%= @admin_gallery.gallery_image %>
</p>

<p>
  <b>Title:</b>
  <%= @admin_gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_gallery.description %>
</p>

<p>
  <b>Realized at:</b>
  <%= @admin_gallery.realized_at %>
</p>


<%= link_to 'Edit', edit_admin_gallery_path(@admin_gallery) %> |
<%= link_to 'Back', admin_galleries_path %>
