<% title "Login" %>
 
<%= form_tag admin_login_enter_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Entrar" %></p>
<% end %>