<%
title 'Eventos - Alterando Evento'
breadcrumbs([
  {:text => 'Eventos', :url => admin_events_path},
  {:text => 'Alterando evento'},
])
%>
<article class="module width_full">
  <header><h3>Alterando evento <%=@event.title %></h3></header>
  <%= render 'form' %>
</article>
