<%
title 'Eventos'
breadcrumbs([
  {:text => 'Eventos'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Eventos </h3>
    
  </header>
  <%=button_new('Criar evento',new_admin_event_path)%>
  


  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Título</th> 
        <th class="header">Categoria</th> 
        <th class="header">Realizar em</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @events.each do |event| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= event.title %></td> 
        <td><%= event.event_category.name %></td> 
        <td><%= l event.realized_at, :format => :short %></td> 
        <td><%= actions_common(event)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @events%>
</article>