<%
title 'Banners'
breadcrumbs([
  {:text => 'Banners'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Banners </h3>
    
  </header>
  <%=button_new('Criar banner',new_admin_banner_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Título</th> 
        <th class="header">Tipo</th> 
        <th class="header">Arquivo</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @banners.each do |banner| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= banner.title %></td> 
        <td><%= type_of_banner(banner) %></td> 
        <td><%= banner.for_image? ? banner.image_file_name : banner.swf_file_name %></td> 
        <td><%= actions_common(banner)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @banners%>
</article>
