<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_banner.title %>
</p>

<p>
  <b>Places:</b>
  <%= @admin_banner.places %>
</p>

<p>
  <b>Type file:</b>
  <%= @admin_banner.type_file %>
</p>

<p>
  <b>Photo:</b>
  <%= @admin_banner.photo %>
</p>

<p>
  <b>Swf:</b>
  <%= @admin_banner.swf %>
</p>

<p>
  <b>Url:</b>
  <%= @admin_banner.url %>
</p>


<%= link_to 'Edit', edit_admin_banner_path(@admin_banner) %> |
<%= link_to 'Back', admin_banners_path %>
