<%
title 'Categorias de Vídeos - Alterando Categoria'
breadcrumbs([
  {:text => 'Categorias de Vídeos', :url => admin_video_categories_path},
  {:text => 'Alterando categoria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando categoria de Vídeo</h3></header>
  <%= render 'form' %>
</article>