<%
title 'Categorias de Vídeos'
breadcrumbs([
  {:text => 'Categorias de Vídeos', :url => admin_video_categories_path},

])
%>

<article class="module width_full">
  <header><h3>Lista de Categorias de Vídeos</h3></header>

  <%=button_new('Criar categoria de Vídeo',new_admin_video_category_path)%>

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @video_categories.each do |video_category| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= video_category.name %></td> 
        <td><%= actions_common(video_category)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @video_categories%>

</article>