<%=  %>
<%= simple_form_for([:admin,@news], :html => { :multipart => true }) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.input :title %>
  </fieldset>
  <fieldset>
    <%= f.association :categories, :input_html => {:multiple => true, :size => 5, :style => 'height:76px'} %>
  </fieldset>
  <fieldset>
    <%= f.input :photo %>
  </fieldset>
  
  <% unless @news.photo_file_name.blank? %>
  <fieldset>
    <label>Imagem atual</label>
    <%=link_to @news.photo_file_name, @news.photo.url, :target => "_blank"%>
  </fieldset>
  <% end %>
  
  <fieldset>
    <%= f.input :short_description %>
  </fieldset>
  <fieldset>
    <%=f.label :content%>
  </fieldset>
  <%= f.text_area :content, :rows => 15, :cols => 100, :class => 'mceEditor' %>
  <fieldset>
    <%= f.input :show_in_front %>
  </fieldset>
  <fieldset>
    <%= f.input :is_special %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
<% content_for :head do %>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<% end %>