<%= simple_form_for([:admin,@column_text_news]) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.association :columnist %>
  </fieldset>
  <fieldset>
    <%= f.input :title %>
  </fieldset>
  <fieldset>
    <%= f.input :photo %>
  </fieldset>
  <fieldset>
    <%= f.input :short_description %>
  </fieldset>
  <fieldset>
    <%= f.input :content, :input_html => {:rows => 15} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>