<p id="notice"><%= notice %></p>

<p>
  <b>Columnist:</b>
  <%= @admin_column_text_news.columnist %>
</p>

<p>
  <b>Title:</b>
  <%= @admin_column_text_news.title %>
</p>

<p>
  <b>Photo:</b>
  <%= @admin_column_text_news.photo %>
</p>

<p>
  <b>Short description:</b>
  <%= @admin_column_text_news.short_description %>
</p>

<p>
  <b>Content:</b>
  <%= @admin_column_text_news.content %>
</p>


<%= link_to 'Edit', edit_admin_column_text_news_path(@admin_column_text_news) %> |
<%= link_to 'Back', admin_column_text_news_index_path %>
