<h1 class="green">notícia</h1>
<h2 class="green"><%=@news.title%></h2>

<div id="top-image">
  <%=image_tag @news.photo.url(:big)%>
</div>
<div id="details">
  <ul class="disc">
    <li><em><%=l @news.created_at%></em></li>
    <% if @news.categories.any? %>
    <li>Categoria(s): <strong><%=@news.categories.collect{|t| t.name}.join(', ')%></strong></li>
    <% end %>
  </ul>
</div>
<div class="clear"></div>
<div style="margin:40px 0">
<%=raw @news.content%>
</div>

<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/home','frontend/galerias' %>
<% end %>

