<%
title 'Locais - Alterando Local'
breadcrumbs([
  {:text => 'Locais', :url => admin_places_path},
  {:text => 'Alterando local'}
])
%>
<article class="module width_full">
  <header><h3>Alterando local</h3></header>
  <%= render 'form' %>
</article>