<%
title 'Locais'
breadcrumbs([
  {:text => 'Locais', :url => admin_places_path},

])
%>

<article class="module width_full">
  <header><h3>Lista de Locais</h3></header>
  <%=button_new('Criar local (Usados em eventos, galerias e álbuns de usuários)',new_admin_place_path)%>

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Endereço</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @places.each do |place| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= place.name %></td> 
        <td><%= place.address %></td> 
        <td><%= actions_common(place)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>

  <%=will_paginate @places%>

</article>