<%
title 'Locais - Novo Local'
breadcrumbs([
  {:text => 'Locais', :url => admin_places_path},
  {:text => 'Novo local'}
])
%>
<article class="module width_full">
  <header><h3>Novo local</h3></header>
  <%= render 'form' %>
</article>