#middle-full-banner{
	width:750px;
	height:346px;
/*	border: 1px solid #E8E8E8;*/
	margin-bottom:10px;
}

#list-news{
	float:left;
	width:370px;
	height:450px;
/*	border: 1px solid #E8E8E8;*/
	
}


	
	#list-news h3, #list-galleries h3{
		text-align:center;
		background-color:#F0EEEF;
		padding:14px 0;
	}
	
	#list-news a{
		font-size:14px;
		color:#000;
	}

#next-events{
	float:right;
	width:350px;
	height:450px;
}

#last-video{
	float:left;
	width:370px;
	height:364px;
/*	border: 1px solid #E8E8E8;*/
	
}

#last-twitter-messages{
	float:right;
	width:350px;
/*	height:450px;*/
}


#list-galleries{
/*	height:340px;*/
/*	margin-bottom:10px;*/
}

	#list-galleries .first{
		margin-left:0 !important;
	}
	
	#list-galleries .gallery-box{
		margin-left:18px;
		margin-bottom:10px;
		float:left;
		width:238px;
	}
	#list-galleries h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	#list-galleries a{
		color:#000;
	}
	
#last-collyrium{
	margin-bottom:10px;
}
	
#footer-full-banner{
	width: 728px;
	height: 98px;
	margin-left:10px;
}
	
	
.to-fade{
	opacity:0.85;
	filter:alpha(opacity=85);
}