#image-container{
	width:772px;
	/*float:left;*/
}
	#image-container img{
		margin-bottom:10px;
	}

#image-toolbar{
/*	background-color:#F0EEEF;*/
	width: 268px;
	float:right;
}

#face_and_comment{
  margin-left:14px;margin-top:4px
}

em{
  font-style:italic;
  font-weight:bold;
}

#comment{
  width:222px;border:1px solid #ccc;
}

#comment-submit{
  border:1px solid #ccc
}

#comment_list{
  background-color:#e5e5e5;padding:4px;margin-top:10px;margin-right:10px;
  overflow:auto;
  height:50px;
}

#comment_list li{
  margin-bottom:4px;
}