<article class="module width_full">
  <header><h3 class="tabs_involved">Content Manager</h3>
    <ul class="tabs">
      <li class="active"><a href="#tab1">Posts</a></li>
      <li><a href="#tab2">Comments</a></li>
    </ul>
  </header>

  <div class="tab_container">
    <div id="tab1" class="tab_content" style="display: block; ">
      <table class="tablesorter" cellspacing="0"> 
        <thead> 
          <tr> 
            <th class="header"></th> 
            <th class="header">Entry Name</th> 
            <th class="header">Category</th> 
            <th class="header">Created On</th> 
            <th class="header">Actions</th> 
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Lorem Ipsum Dolor Sit Amet</td> 
            <td>Articles</td> 
            <td>5th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Ipsum Lorem Dolor Sit Amet</td> 
            <td>Freebies</td> 
            <td>6th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr>
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Sit Amet Dolor Ipsum</td> 
            <td>Tutorials</td> 
            <td>10th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Dolor Lorem Amet</td> 
            <td>Articles</td> 
            <td>16th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr>
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Dolor Lorem Amet</td> 
            <td>Articles</td> 
            <td>16th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr>  
        </tbody> 
      </table>
    </div><!-- end of #tab1 -->

    <div id="tab2" class="tab_content" style="display: none; ">
      <table class="tablesorter" cellspacing="0"> 
        <thead> 
          <tr> 
            <th class="header"></th> 
            <th class="header">Comment</th> 
            <th class="header">Posted by</th> 
            <th class="header">Posted On</th> 
            <th class="header">Actions</th> 
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Lorem Ipsum Dolor Sit Amet</td> 
            <td>Mark Corrigan</td> 
            <td>5th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Ipsum Lorem Dolor Sit Amet</td> 
            <td>Jeremy Usbourne</td> 
            <td>6th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr>
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Sit Amet Dolor Ipsum</td> 
            <td>Super Hans</td> 
            <td>10th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Dolor Lorem Amet</td> 
            <td>Alan Johnson</td> 
            <td>16th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
          <tr> 
            <td><input type="checkbox"></td> 
            <td>Dolor Lorem Amet</td> 
            <td>Dobby</td> 
            <td>16th April 2011</td> 
            <td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
          </tr> 
        </tbody> 
      </table>

    </div><!-- end of #tab2 -->

  </div><!-- end of .tab_container -->

</article>


<h1>Listing events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
