<%= simple_form_for([:admin,@news_category]) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :name %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
