<%
title 'Categorias de Notícias - Alterando Categoria'
breadcrumbs([
  {:text => 'Categorias de Notícias', :url => admin_news_categories_path},
  {:text => 'Alterando categoria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando categoria de Notícia</h3></header>
  <%= render 'form' %>
</article>