<%
title 'Categorias de Nóticias'
breadcrumbs([
  {:text => 'Categorias de Nóticias', :url => admin_news_categories_path},

])
%>

<article class="module width_full">
  <header><h3>Lista de Categorias de Nóticias</h3></header>

  <%=button_new('Criar categoria de Nóticia',new_admin_news_category_path)%>

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @news_categories.each do |news_category| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= news_category.name %></td> 
        <td><%= actions_common(news_category)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @news_categories%>

</article>