<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_news_category.name %>
</p>


<%= link_to 'Edit', edit_admin_news_category_path(@admin_news_category) %> |
<%= link_to 'Back', admin_news_categories_path %>
