<h1 class="purpple">Chame o Agito para seu evento</h1>
<p>Quer a cobertura do agito em seu evento? Além de ser super badalada, as fotos são feitas por profissionais, registrando todos os momentos</p>
<p>Preencha os campos abaixo e logo entraremos em contato</p>


<%=form_for :event, :url => enviar_chame_agito_path, :html => {:class => 'form', :multipart => true, :id => 'interest_event_form'} do |f| %>
<p>
  <%= f.label :name, "Nome do Evento" %>
  <%= f.text_field :name, :class => 'required text' %>
</p>

<p>
  <%= f.label :flyer, "Flyer" %>
  <%= f.file_field :flyer, :class => 'text' %>
</p>

<div class="clear"></div>

<p>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email, :class => 'required text' %>
</p>

<p>
  <%= f.label :phone, "Telefone fixo" %>
  <%= f.text_field :phone, :class => 'text' %>
</p>

<div class="clear"></div>

<p>
  <%= f.label :mobile, "Celular" %>
  <%= f.text_field :mobile, :class => 'required text' %>
</p>

<p>
  <%= f.label :contact_name, "Pessoa para contato" %>
  <%= f.text_field :contact_name, :class => 'required text' %>
</p>

<div class="clear"></div>

<p>
  <%= f.label :address, "Endereço" %>
  <%= f.text_field :address, :class => 'required text' %>
</p>

<p>
  <%= f.label :house_number, "Número/Complemento" %>
  <%= f.text_field :house_number, :class => 'required text' %>
</p>

<div class="clear"></div>

<p>
  <%= f.label :neighborhood, "Bairro" %>
  <%= f.text_field :neighborhood, :class => 'required text' %>
</p>

<p>
  <%= f.label :realized_at, "Data do evento" %>
  <%= f.text_field :realized_at, :class => 'required text' %>
</p>

<div class="clear"></div>

<p>
  <%= f.label :city, "Cidade" %>
  <%= f.text_field :city, :class => 'required text' %>
</p>



<p style="width:700px">
  <%= f.label :observations, "Observações" %>
  <%= f.text_area :observations, :class => 'text', :style => 'width: 650px;height:150px' %>
</p>

<p><%= f.submit "Enviar", :class => 'submit' %></p>
<% end %>


<% content_for :head do %>
<%= javascript_include_tag 'jquery.maskedinput-1.3.min' %>
<%= javascript_tag do %>
$(document).ready(function(){
  $('#interest_event_form').validate()
  $("#event_phone" ).mask('(99) 9999-9999');
  $("#event_mobile" ).mask('(99) 9999-9999');
  $("#event_realized_at" ).mask('99/99/9999');
})
<% end %>
<% end %>