<h1 class="clean-blue">agenda</h1>
<h2 class="clean-blue">++ <%=@event.title%></h2>

<div id="top-image">
  <%=image_tag @event.photo.url(:big)%>
</div>
<div id="details">
<ul class="disc">
  <li>Realizar em: <strong><%=l @event.realized_at%></strong></li>
  <% if @event.place %>
  <li>Local: <strong><%= @event.place.name%></strong></li>
    <% if !@event.address.blank? %>
    <li><%= @event.address %></li>
    <% elsif !@event.place.address.blank? %>
    <li><%= @event.place.address %></li>
    <% end %>
  <% elsif !@event.address.blank? %>
  <li><%= @event.address %></li>
  <% end %>
  <li>Categoria: <strong><%=@event.event_category.name%></strong></li>
</ul>
<%=raw @event.description%>
</div>
<div class="clear"></div>

<% if @event.galleries.any? %>
<div id="list-galleries">
  <h1 class="red">fotos deste evento</h1>
  <% @event.galleries.in_groups_of(3,false).each do |galleries_group| %>
  <% galleries_group.each_with_index do |gallery,i| %>
  <div class="gallery-box <%='first' if i == 0%>">
    <%= link_to image_tag(gallery.gallery_image.image.url(:home), :size => '238x92'), detalhes_galeria_path(gallery) -%>
    <h3><%=link_to truncate(gallery.title, :length => 28), detalhes_galeria_path(gallery)%> - <%=l gallery.realized_at.to_date, :format => :short%></h3>
  </div>
  <% end %>
  <% end %>
</div>
<div class="clear"></div>
<% end %>

<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/home','frontend/galerias' %>
<% end %>