<div id="list-events">
  <h1 class="clean-blue">na agenda</h1>
  <% @events.in_groups_of(2,false).each do |events_group| %>
  <% events_group.each_with_index do |event,i| %>
  <div class="event-box box-list <%='first' if i == 0%>">
    <%= link_to image_tag(event.photo.url(:medium)), detalhes_agenda_path(event) -%>
    <h3><%=link_to truncate(event.title, :length => 28), detalhes_agenda_path(event)%> - <%=l event.realized_at.to_date, :format => :short%></h3>
  </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @events%>
</div>
<div class="clear"></div>


<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/eventos'%>
<% end %>