<%= simple_form_for([:admin,@magazine], :html => {:multipart => true}) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :title %>
  </fieldset>
  <fieldset>
    <%= f.input :photo %>
  </fieldset>
  <% unless @magazine.photo_file_name.blank? %>
  <fieldset>
    <label>Imagem atual</label>
    <%=link_to @magazine.photo_file_name, @magazine.photo.url, :target => "_blank"%>
  </fieldset>
  <% end %>
  <fieldset>
    <%= f.input :description, :input_html => {:rows => 15} %>
  </fieldset>
  <fieldset>
    <%= f.input :realized_at, :input_html => {:style => 'width:auto;margin:0 2px;'} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
