<%
title 'Revistas - Alterando Revista'
breadcrumbs([
  {:text => 'Revistas', :url => admin_magazines_path},
  {:text => 'Alterando Revista'},
])
%>
<article class="module width_full">
  <header><h3>Alterando Revista</h3></header>
  <%= render 'form' %>
</article>