<%
title 'Revistas - Nova Revista'
breadcrumbs([
  {:text => 'Revistas', :url => admin_magazines_path},
  {:text => 'Nova Revista'},
])
%>
<article class="module width_full">
  <header><h3>Nova Revista</h3></header>
  <%= render 'form' %>
</article>