<%=form_for @user_album || UserAlbum.new, :url => criar_album_path, :via => :post, :remote => true,
:html => {:class =>'form',:id => 'album_form'} do |f|%>
<h2 class="green">Crie um novo álbum</h2>
<p>
<%=f.label :title, 'Título'%>
<%=f.text_field :title, :class => 'text required'%>
</p>
<p>
  <label>&nbsp;</label>
<%=f.submit 'Criar', :class => 'submit'%>
</p>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#album_form').validate()
  })
</script>