<h1 class="green">adicionando fotos ao álbum '<%=@user_album.title%>'</h1>
<%=link_to 'Voltar para o álbum', detalhes_album_path(@user_album)%>
<br /><br />
<%= form_for :user_album_image, :url => salvar_foto_path(@user_album), :html => { :class => "upload form", :multipart => true } do |f| %>
  <%= f.label :image, 'Adicione mais fotos'%>
	<%= f.file_field :image %>
<div class="clear"></div>
<br />
<table class="upload_files"  width="748" cellspacing="0"></table>
<div class="clear"></div>
<table class="download_files" width="748" cellspacing="0">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome do arquivo</th>
      <th>Localização</th>
      <th>Ações</th>
    </tr>
  </thead>
  <% if !@user_album.user_album_images.blank? %>
    <% for user_album_image in @user_album.user_album_images %>
      <tr id="user_album_image_id_<%= user_album_image.id %>">
        <td><%=image_tag user_album_image.image.url(:thumb) %></td>
        <td><%=user_album_image.image_file_name%></td>
        <td><%=link_to truncate(user_album_image.image.url), user_album_image.image.url, :alt => user_album_image.image.url, :title => user_album_image.image.url %></td>
        <td><%= link_to 'remover', remover_foto_path(@user_album,user_album_image), :remote => true %></td>
      </tr>
    <% end %>
  <% else %>
    
  <% end %>
  
</table>
<% end %>

<% content_for :head do %>
<%=stylesheet_link_tag 'jquery.fileupload-ui'%>
<script>
$(function () {
    $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
        buildUploadRow: function (files, index) {
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancelar">' +
                    '<span class="ui-icon ui-icon-cancel">Cancelar<\/span>' +
                    '<\/div><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
          var row = '<tr class="user_album_image_id_+'+file.id+'">' +
          '<td><img alt="'+file.name+'" src="'+file.thumb_path+'"></td>' + 
          '<td>'+file.name+'</td>' + 
          '<td><a href="'+file.normal_path+'" alt="'+file.normal_path+'" title="'+file.normal_path+'">'+file.normal_path.substr(0,30)+'...</a></td>' + 
          '<td><a data-remote="true" href="'+file.remover_path+'">remover</a></td>' + 
          '</tr>';

          return $(row);
        },
        onComplete: function(){
          var table = $(".tablesorter");
          table.trigger("update")
            // .trigger("sorton", [usersTable.get(0).config.sortList])
            .trigger("appendCache")
            .trigger("applyWidgets");
        }
        // ,
        //        onComplete: function (event, files, index, xhr, handler) { 
        //            $.ajax({
        //              type: "GET",
        //              url: "/remote/show_pic/",
        //              success: function(data){
        //                       cropping_arrived();
        //                       }
        //              });
        //        }
    });
});
</script>
<% end %>