<%=link_to 'Voltar para albuns', albuns_path(@user_album.user)%>
<% if owner?(@user_album.user) %>
 | <%=link_to 'adicionar novas fotos', adicionar_fotos_path(@user_album)%>
<% end %>
<h1 class="red">álbum de <%=@user_album.user.name%></h1>
<h2 class="red">:) <%=@user_album.title%></h2>


<div id="top-image">
  <% if @user_album.user_album_image %>
  <%=image_tag(@user_album.user_album_image.image.url(:big))%>
  <% else %>
  Sem imagem...
  <% end %>
</div>
<div id="details">
<ul class="disc">
  <li>Realizar em: <strong><%=l @user_album.created_at%></strong></li>
  <% if @user_album.place %>
  <li>Local: <strong><%= @user_album.place.name%></strong></li>
  <li><%= @user_album.place.address %></li>
  <% end %>
  <% if @user_album.event %>
  <li>Evento associado: <strong><%= link_to @user_album.event.title, detalhes_agenda_path(@user_album.event)%></strong></li>
  <% end %>
</ul>
<%=simple_format @user_album.description%>
</div>
<div class="clear"></div>
<h2><%=@user_album.user_album_images.count%> fotos</h2>
<ul id="images-carousel" class="jcarousel-skin-tango">
  <% @user_album.user_album_images.each do |user_album_image|%>
  <li><%=link_to image_tag(user_album_image.image.url(:thumb)), album_ver_foto_path(@user_album,user_album_image), :remote => true, :class => 'user_album_image' %></li>
  <% end %>
</ul>
<div class="clear"></div>
<div id="image-container"></div>


<% content_for :head do %>

<%= stylesheet_link_tag 'frontend/galerias','frontend/jquery.phototag' %>
<%= javascript_include_tag 'frontend/jquery.phototag' %>
<%= javascript_tag do %>
$(document).ready(function() {
  $('#images-carousel').jcarousel({visible: 7});
  

  $('.user_album_image').click(function(){
    $('#image-container').html('carregando...')
  })
  
  $('.user_album_image:first').trigger('click')
  
  $('.auser_album_image_modal').each(function(){
    $(this).qtip(
  	{
  	  id: $(this).attr('id'),
  		content: {
  			text: 'Carregando..',
  			title: {
  				text: 'Ver foto',
  				button: true
  			},
        ajax: {
          url: $(this).attr('foto_path'), // Use the rel attribute of each element for the url to load
          once: false
        }
  		},
  		position: {
  			my: 'center', // ...at the center of the viewport
  			at: 'center',
  			target: $(window)
  		},
  		show: {
  			event: 'click', // Show it on click...
  			solo: true, // ...and hide all other tooltips...
  			modal: true // ...and make it modal
  		},
  		hide: false,
  		style: {
  		  classes: 'ui-tooltip-light ui-tooltip-rounded',
  		  width: 820
  		}
  	});
  });
  
});
<% end %>
<% end %>