<h1>Listing admin_gallery_images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_gallery_images.each do |admin_gallery_image| %>
  <tr>
    <td><%= link_to 'Show', admin_gallery_image %></td>
    <td><%= link_to 'Edit', edit_admin_gallery_image_path(admin_gallery_image) %></td>
    <td><%= link_to 'Destroy', admin_gallery_image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery image', new_admin_gallery_image_path %>
