<%=image_tag user_album_image.image.url(:detail), :class => 'photoTag', :image_id => user_album_image.id%>
<%= javascript_tag do %>
$(document).ready(function(){
	$('.photoTag').photoTag({
		requesTagstUrl: '<%=album_marcacoes_path(:id => user_album_image.id)%>', //'/static/photo-tag/tests/photo_tags/photo-tags.php',
		deleteTagsUrl: '<%=album_remover_marcacao_path(:id => user_album_image.id)%>', ///'/static/photo-tag/tests/photo_tags/delete.php',
		addTagUrl: '<%=album_salvar_marcacao_path%>', //'/static/photo-tag/tests/photo_tags/add-tag.php',
		showAddTagLinks: <%=owner?(user_album_image.user_album.user)%>,
		parametersForNewTag: {
			name: {
				parameterKey: 'name',
				isAutocomplete: true,
				autocompleteUrl: '<%=usuarios_autocomplete_path%>', 
				label: 'Nome'
			}
		}
	});
});
<% end %>