<h2 class="red"><%=@user_album_image.user_album.title%></h2>
<%=image_tag @user_album_image.image.url(:detail), :id => 'img_to_tag', :image_id => @user_album_image.id%>
<div id="image-container">

<iframe src="//www.facebook.com/plugins/like.php?href=<%=album_ver_foto_url(@user_album_image.user_album,@user_album_image)%>&amp;send=false&amp;layout=button_count&amp;width=500&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:21px;" allowTransparency="true"></iframe>
</div>
<div id="image-toolbar">
  <h3 class="green">Marcações</h3>
</div>

<script type="text/javascript" charset="utf-8">
  // $(document).ready(function(){
    $('#img_to_tag').tag({
			save: saveTag,
			remove: removeTag
		});
		console.log('aki')
		    // 
        $.getJSON(gon.marcacoes_path,{'id':$('#img_to_tag').attr('image_id')},function(tags){
         $.each(tags, function(key,tag){
                $('#img_to_tag').addTag(tag.width,tag.height,tag.top,tag.left,tag.label,tag.id);
         });
        });
  // })
</script>