$('#image-container').fadeOut('fast',function(){
  $('#image-container').html('<%=escape_javascript(render(:partial => 'albuns_fotos/image', :locals => {:user_album_image => @user_album_image}))%>')
  $('#image-container').fadeIn('fast')
})
