<div id="list-galleries">
  <h1 class="red">últimos agitos</h1>
  <% @galleries.in_groups_of(3,false).each do |galleries_group| %>
  <% galleries_group.each_with_index do |gallery,i| %>
  <div class="gallery-box box-list <%='first' if i == 0%>">
    <%= link_to image_tag(gallery.image_front.url(:home), :size => '238x92', :alt => gallery.title), detalhes_galeria_path(gallery), :title => gallery.title -%>
    <h3><%=link_to truncate(gallery.title, :length => 25), detalhes_galeria_path(gallery), :title => gallery.title%> - <%=l gallery.realized_at.to_date, :format => :default%></h3>
  </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
  <%=will_paginate @galleries%>
</div>
<div class="clear"></div>


<% content_for :head do %>
<%=stylesheet_link_tag 'frontend/home'%>
<% end %>