<h2>Entre com seus dados de e-mail e senha para acessar sua conta</h2>
<%=form_tag usuarios_entrar_path, {:class => 'form'} do %>
<p>
  <%= label_tag :email %>
  <%= text_field_tag :email, '', :class => 'text' %>
</p>
<p>
  <%= label_tag :password, 'Senha' %>
  <%= password_field_tag :password, '', :class => 'text' %>
</p>
<p><%= submit_tag "Entrar", :class => "submit" %></p>
<% end %>