<%
title 'Categorias de Galerias - Alterando Categoria'
breadcrumbs([
  {:text => 'Categorias de Galerias', :url => admin_gallery_categories_path},
  {:text => 'Alterando categoria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando categoria de Galeria</h3></header>
  <%= render 'form' %>
</article>