<%
title 'Categorias de Galerias'
breadcrumbs([
  {:text => 'Categorias de Galerias', :url => admin_gallery_categories_path},

])
%>

<article class="module width_full">
  <header><h3>Lista de Categorias de Galerias</h3></header>

  <%=button_new('Criar categoria de Galeria',new_admin_gallery_category_path)%>

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @gallery_categories.each do |gallery_category| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= gallery_category.name %></td> 
        <td><%= actions_common(gallery_category)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @gallery_categories%>

</article>