<%
title 'Categorias de Galerias - Nova Categoria'
breadcrumbs([
  {:text => 'Categorias de Galerias', :url => admin_gallery_categories_path},
  {:text => 'Nova categoria'},
])
%>
<article class="module width_full">
  <header><h3>Nova categoria de Galeria</h3></header>
  <%= render 'form' %>
</article>