Existe um interesse de cobertura de festa de 15 anos. Veja as informações abaixo:



Nome <%=@name%>
E-mail <%=@email%>
Telefone fixo <%=@phone%>
Celular <%=@mobile%>
Pessoa para contato <%=@contact_name%>
Endereço <%=@address%>, <%=@house_number%>. <%=@neighborhood%> - <%=@city%>
Data do evento <%=@realized_at%>
Observações

<%=@observations%>
