<%
title 'Usuários'
breadcrumbs([
  {:text => 'Usuários'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Usuários </h3>
    
  </header>
  <%=button_new('Criar usuário',new_admin_user_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">E-mail</th> 
        <th class="header">Facebook</th> 
        <th class="header">Administrador?</th> 
        <th class="header">Fotógrafo?</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @users.each do |user| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= user.name %></td> 
        <td><%= user.email %></td> 
        <td><%= user.facebook_url %></td> 
        <td><%= 'Sim' if user.admin %></td> 
        <td><%= 'Sim' if user.photographer %></td> 
        <td><%= actions_common(user)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @users%>
</article>
