<%= simple_form_for([:admin,@video], :html => {:multipart => true}) do |f| %>
<div class="module_content">

  <fieldset>
    <%= f.association :video_category %>
  </fieldset>
  <fieldset>
    <%= f.input :title %>
  </fieldset>
  <fieldset>
    <%= f.input :url, :input_html => {:type => :text} %>
  </fieldset>
  <% unless @video.url.blank? %>
  <p align="center">
    <%=raw yt_client.video_by(@video.url).embed_html_with_width(500)   %>
  </p>
  <% end %>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>