<%
title 'Vídeos'
breadcrumbs([
  {:text => 'Vídeos'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de Vídeos </h3>
    
  </header>
  <%=button_new('Criar vídeo',new_admin_video_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Título</th> 
        <th class="header">Categoria</th> 
        <th class="header">Url</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @videos.each do |video| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= video.title %></td> 
        <td><%= video.video_category.name %></td> 
        <td><%= video.url %></td> 
        <td><%= actions_common(video)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @videos%>
</article>
