<%
title 'Categorias de Eventos - Alterando Categoria'
breadcrumbs([
  {:text => 'Categorias de eventos', :url => admin_event_categories_path},
  {:text => 'Alterando categoria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando categoria de evento <%=@event_category.name %></h3></header>
  <%= render 'form' %>
</article>
