<%
title 'Categorias de Eventos'
breadcrumbs([
  {:text => 'Categorias de eventos', :url => admin_event_categories_path},

])
%>

<article class="module width_full">
  <header><h3>Lista de Categorias de Eventos</h3></header>

  <%=button_new('Criar categoria de evento',new_admin_event_category_path)%>

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Nome</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @event_categories.each do |event_category| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= event_category.name %></td> 
        <td><%= actions_common(event_category)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @event_categories%>

</article>