<!DOCTYPE html>
<html>
  <head>
    <title><%=t('global.system_name')%></title>
    <%=include_gon%>
    <%= stylesheet_link_tag 'frontend/reset',
    'frontend/errors',
    'frontend/layout',
    'frontend/layout_modal'
    # 'frontend/jquery.tag'
     %>
     <%=javascript_include_tag 'jquery.min',
    	'jquery-ui.min',
    	'jquery_ujs',
      'frontend/jquery.jcarousel',
      'frontend/jquery.qtip.min'
    # 'tag.functions'
     %>
     <%=yield(:head)%>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    <%=yield%>
  </body>
</html>