<!DOCTYPE html>
<html>
  <head>
    <title><%=t('global.system_name')%><%=" - #{yield(:title)}" if content_for?(:title)%></title>
    <%=include_gon%>
    <%= stylesheet_link_tag 'frontend/reset',
    'frontend/errors',
    'frontend/layout',
    'frontend/jcarousel/tango/skin',
    'frontend/jquery.qtip.min',
    'frontend/columns',
    'frontend/jquery-ui-1.8.20.custom',
    'frontend/jquery.lightbox-0.5'
     %>
    <%=javascript_include_tag 'jquery.min',
   	'jquery-ui.min',
   	'jquery_ujs',
    'jquery.flash',
    'jquery.validate.min',
    'jquery.fileupload-min',
    'jquery.fileupload-ui',
    'frontend/jquery.tag',
    'frontend/jquery.jcarousel',
    'frontend/jquery.qtip.min',
    'frontend/jquery.lightbox-0.5'
     %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
<meta name="google-site-verification" content="5mzmSRfWwDgupFUzxU2twtVLUG54ccXPDqfisl59jhw" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="top-clear"></div>
    <div id="container">
      
      <div id="top">
        <div id="logo"><%=link_to image_tag('logo.jpg', :alt => t('global.system_name'), :title => t('global.system_name')), root_path%></div>
        <div id="top-full-banner"><%=top_full_banner%></div>
        <div class="clear"></div>
        <div id="top-menu">
          <%=top_menu%>
        </div>
      </div>
      <div class="clear"></div>
      
      <div id="top-3-banners">
        <%=top_3_banners%>
      </div>
      <div class="clear"></div>
      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div id="left-yield">
      <%=yield%>
      </div>
      <div id="right-yield">
        <%= left_6_banners %>
      </div>
      <div class="clear"></div>
      <br /><br /><br />
      <div class="fb-like" data-href="https://www.facebook.com/agitooficial" data-send="false" data-width="1002" data-show-faces="true" data-font="trebuchet ms"></div>
      <br /><br /><br />
      <div id="footer"></div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31599654-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
